{{ 'header-mille.css' | asset_url | stylesheet_tag }}

<div class="header-mille-container">
  <h3>WORKS</h3>
</div>

{% schema %}
  {
    "name": "Header mille",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

